__pycache__/
*.pyc
venv/
.env
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

# Fichiers générés par les scans
rapport_*.txt
rapport_*.html
*.json

# Terraform (Crucial pour la sécurité)
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Rapports de sécurité supplémentaires
bandit-report.txt
results.xml
